
.btn-wrapper {
  display: flex;
  flex-direction: column;
}
.btn-wrapper #reactor-btn {
  width: 100px;
  margin: auto;
}
.todo-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.todos {
  width: 400px;
  background: pink;
  border-radius: 4px;
  min-height: 100px;
  margin-top: 10px;
}
.todo_input {
  margin-bottom: 25px;
}
.todo_input_col {
  margin-bottom: 10px;
}
.todo_table_num, 
.todo_table_time,
.todo_table_complete {
  width: 40px;
}
.todo_table_complete {
  text-align: center;
}
.todo_table_description {
  min-width: 200px;
}
.complete_btn {
  background: none;
  border: none;
  color: rgb(255, 255, 255);  
  text-align: center;
}